<% provide(:title, t('help.title')) %>
<h1><%= t('help.title')%></h1>
<p>
  <%= t'help.content_rails'%>
  <a href="http://www.railstutorial.org/#help"><%= t'help.link_rails'%></a>.
  <%= t'help.content_sample'%>
  <a href="http://www.railstutorial.org/book"><em><%= t'help.link_sample'%> </em></a>.
</p>