<li id="micropost-<%= micropost.id %>">
  <%= link_to avatar_for(micropost.user), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <i> <%= t('category.category')%>
    <% if micropost.category %>
      <%= micropost.category.name  %>
    <% else %>
      <%= t('category.no_category') %>
    <% end %>
    </i><br>
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    <%= t('time_ago', time: time_ago_in_words(micropost.created_at)) %>
    <% if current_user?(micropost.user) %>
      <%= link_to t('microposts.delete'), micropost, method: :delete, data: { confirm: t('microposts.confirm_del') } %>
      <p class='blocked'> <%= "Post has been blocked" if micropost.blocked %> </p> 
    <% else %> 
      <%= link_to t('report.button'), micropost_report_path(micropost) %>
    <% end %>
  </span>
</li> 