<header class="navbar navbar-fixed-top navbar-inverse ">
    <div class="container">
      <%= link_to t('global.header.logo'), root_path, id: "logo"%>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to t('global.header.home'), root_path %> </li>
          <li> <%= link_to t('global.header.help'), help_path %> </li>
          <% if logged_in? %>
            <li><%= link_to t('global.header.users'), users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t'global.header.account.name'%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('global.header.account.profile'), current_user %></li>
                <li><%= link_to t('global.header.account.settings'), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t('global.header.account.logout'), logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('global.header.login'), login_path %></li>
          <% end %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t'global.language'%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'en', root_path(locale: :en) %></li>
                <li><%= link_to 'pl', root_path(locale: :pl) %></li>
                <li><%= link_to 'it', root_path(locale: :it) %></li>
                <li><%= link_to 'cn', root_path(locale: :cn) %></li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>
</header>
